@import url('https://fonts.googleapis.com/css2?family=Beau+Rivage&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Grape+Nuts&display=swap');

.home {
    margin-top: 0;
}

.home-container {
    display: grid;
    grid-template-columns: 2fr 1fr;
    gap: 10px;
}

.home-container img {
    width: 350px;
}

.heading {
    text-align: center;
    margin: 50px 10px;
    padding: 25px;
}

.heading h3 {
    font-size: 34px;
    font-family: 'Beau Rivage', cursive;
}

.heading h4 {
    line-height: 5px;
    font-size: 24px;
    font-family: 'Grape Nuts', cursive;
}

.heading p {
    text-align: justify;
}

.live-btn {
    padding: 10px;
    background-color: rgba(255, 0, 0, 0.774);
    color: white;
    font-weight: 600;
    border: 0;
    cursor: pointer;
}

.review-section {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 5px;
}

.home-review-section {
    border: 1px solid rgba(173, 216, 230, 0.164);
    padding-left: 8px;
    padding-top: 5px;
}

/* .home-review-section img,
h5,
p {
    margin-top: 0;
} */

.home-review-section img {
    width: 70px;
    border-radius: 50%;
    margin: auto;
}

.show-more {
    margin-top: 5px;
    padding: 5px;
    border: 1px solid rgba(192, 192, 192, 0.692);
    background-color: goldenrod;
    text-decoration: none;
    color: azure;

}

/* .all-review-container a {
    text-align: center;
} */
.all-review-container {
    padding-bottom: 20px;
}

.all-review-container h3 {
    text-align: center;
    font-size: 24px;
}

.link-review {
    text-align: center;
}

.link-review a {
    text-decoration: none;
    padding: 5px 15px;
    background-color: blue;
    color: lightblue;
    font-weight: 500;
}

.link-review a:hover {
    background-color: rgba(255, 166, 0, 0.801);
    color: lightcyan;
    border-radius: 5px;
}


@media only screen and (max-width: 500px) {
    .home-container {
        grid-template-columns: 1fr;
    }

    .review-section {
        grid-template-columns: 1fr;
    }
}